* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* creating a diagonal striped line background for use on home page*/

html {
  height: 100%;
  background: repeating-linear-gradient( -55deg, #333, #333 30px, #222 30px, #222 150px);
}

/* a specific id for the home page to center the nav bar on the viewport */

#name {
  color: white;
  font-size: 28px;
  font-weight: 450;
  position: absolute;
  font-family: 'consolas', sans-serif;
  top: 30%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

/* Starting to style navigation bar */

.nav-home {
  width: 80%;
  position: absolute;
  z-index: 1;
  display: inline-block;
  top: 70%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.nav-links-home {
  flex: 1;
  text-align: center;
  top: 70%;
  left: 50%;
}

.nav-links-home ul li {
  list-style: none;
  display: inline;
  margin: auto 20px;
}

.nav-links-home ul li a {
  color: white;
  font-family: 'consolas', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
  position: relative;
}

.nav-links-home ul li a:hover {
  color: rgb(104, 126, 223);
}

.nav-links-home ul li a.external:hover {
  color: rgb(223, 104, 104);
}

/* following a guide by Jhey Tompkins on creating a CSS overlay for a 
   circular image, this is the styling for the picture of me that appears
   when you hover in between my name and the nav bar */

.img {
  border-radius: 50%;
  display: flex;
  height: 250px;
  width: 250px;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  transition: 0.20s ease-in;
  background-image: url(../links-and-images/images/letter-j.png);
}

.img img {
  margin-top: -70%;
}

.img:hover {
  background-image: url(../links-and-images/images/profile.jpg);
  width: 250px;
  height: 250px;
}